@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

* body {
    background-color: grey;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

* h1 {
    color: azure;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

}

.post {
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

.post_img {
    width: 100%;
}